.peterright 
{ 
    background: #C3D9FF; 
    min_height:120px; 
    _height:120px;
    border:1px solid #BBBBBB; 
}

.peterright a:link 
{ 
    color: #0057b6; 
    text-decoration: none; 
} 
.peterright a:visited 
{ 
    color: #0057b6; 
    text-decoration: none; 
} 
.peterright a:active,a:hover 
{ 
    color: #0057b6; 
    text-decoration: underline; 
}

